extends layout

block content
  h3 Recent Transactions
  if txs.length === 0
    p No transactions during the last 500 blocks
  else
    table.table
      thead
        tr
          th Hash
          th From
          th To
          th Date
      tbody
        for tx in txs
          tr
            td
              a(href="/tx/" + tx.transaction.hash) #{tx.transaction.hash.substr(0,20)}...
            td
              a(href="/address/" + tx.transaction.from) #{nameformatter.format(tx.transaction.from)}
            td
              if !tx.isContract
                a(href="/address/" + tx.transaction.to) #{nameformatter.format(tx.transaction.to)}
              else
                | New Contract
                a(href="/address/" + tx.transaction.to) #{tx.transaction.to} 
            td #{moment(tx.timestamp * 1000).fromNow()}
  h3 Recent blocks
  table.table
    thead
      tr
        th Number
        th Sealer
        th # Tx
        th # Uncles
        th Date
    tbody
      for block in blocks
        tr
          td
            a(href="/block/" + block.number) #{block.number}
          td
            a(href="/address/" + block.author) #{nameformatter.format(block.author)}
          td #{block.transactions.length}
          td #{block.uncles.length}
          td #{moment(block.timestamp * 1000).fromNow()}