extends layout

block content
  .row
    .col-md-13
      form(action="/search", method="POST")
        .form-group
          .col-md-10
            input.form-control#search(type='text', placeholder='Block / Tx / Address', name='search')
          .col-md-1
            button.btn.btn-default(type='submit') Search
  .row
    .col-md-5   
      h3 Latest blocks
      table.table
        tbody
          for block in blocks
            tr
              td
                | Block
              td
                p
                  a(href="/block/" + block.number) #{block.number}
                p #{moment(block.timestamp * 1000).fromNow()}
              td
                p
                  | Sealer 
                  a(href="/address/" + block.author) #{nameformatter.format(block.author)}
                p #{block.transactions.length}
                  |  Txns
    .col-md-1
      p
    .col-md-5   
      h3 Transactions
      #section-table
        if txs.length === 0
          p No transactions during the last 50 blocks
        else
          table.table
            tbody
              for tx in txs
                tr
                  td
                    | TX
                  td
                    p
                      a(href="/tx/" + tx.transaction.hash) #{tx.transaction.hash.substr(0,20)}...
                    p #{moment(tx.timestamp * 1000).fromNow()}
                  td
                    p
                      | From 
                      a(href="/address/" + tx.transaction.from) #{nameformatter.format(tx.transaction.from).substr(0,20)}...
                    p
                      if !tx.transaction.creates
                        | To 
                        a(href="/address/" + tx.transaction.to) #{nameformatter.format(tx.transaction.to).substr(0,20)}...
                      else
                        | New Contract <br>
                        a(href="/address/" + tx.transaction.creates) #{tx.transaction.creates.substr(0,20)}...
      
          